-# eyecatch
%div{class: "#{page_slug}-eyecatch is-relative"}
  .container
    %div{class: "#{page_slug}-eyecatch__hgroup"}
      %h1{class: "#{page_slug}-eyecatch__logo"} ReType
      %p{class: "#{page_slug}-eyecatch__lead"} Static Site Generator.
    - if not current_user
      = link_to "Sign In", new_user_session_path, class: "#{page_slug}-eyecatch__signin"
      = link_to "Sign Up", new_user_registration_path, class: "#{page_slug}-eyecatch__signup"


-# features
%div{class: "#{page_slug}-features"}
  .container
    %div{class: "#{page_slug}-features__items"}
      .row
        .col-sm-4
          %div{class: "#{page_slug}-features__item"}
            %h2{class: "#{page_slug}-features__title"} Static
            %div{class: "#{page_slug}-features__body"}
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        .col-sm-4
          %div{class: "#{page_slug}-features__item"}
            %h2{class: "#{page_slug}-features__title"} Static
            %div{class: "#{page_slug}-features__body"}
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        .col-sm-4
          %div{class: "#{page_slug}-features__item"}
            %h2{class: "#{page_slug}-features__title"} Static
            %div{class: "#{page_slug}-features__body"}
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse

%hr.half-rule

-# usage
%div{class: "#{page_slug}-usage"}
  .container
    %div{class: "#{page_slug}-usage__items"}
      %div{class: "#{page_slug}-usage__item"}
        .row
          .col-sm-4
            %h2{class: "#{page_slug}-usage__title"} Usage
          .col-sm-8
            %div{class: "#{page_slug}-usage__body"}
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      %div{class: "#{page_slug}-usage__item"}
        .row
          .col-sm-4
            %h2{class: "#{page_slug}-usage__title"} Usage
          .col-sm-8
            %div{class: "#{page_slug}-usage__body"}
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      %div{class: "#{page_slug}-usage__item"}
        .row
          .col-sm-4
            %h2{class: "#{page_slug}-usage__title"} Usage
          .col-sm-8
            %div{class: "#{page_slug}-usage__body"}
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse

