-# eyecatch
%div{class: "#{page_slug}-eyecatch"}
  .container
    %h1{class: "#{page_slug}-eyecatch__logo"} ReType
    %p{class: "#{page_slug}-eyecatch__lead"} Next Generation Static Web Page Generator.

-# features
%div{class: "#{page_slug}-features"}
  .container
    %div{class: "#{page_slug}-features__items"}
      .row
        .col-sm-4
          %div{class: "#{page_slug}-features__item"}
            %h2{class: "#{page_slug}-features__title"} It's STATIC!!
            %div{class: "#{page_slug}-features__body"}
              %p Looking for a breezy web site generator? <a href="https://retype.jp/">ReType</a> is it!
              %p With <a href="https://retype.jp/">ReType</a>, You can easily create static web pages.
              %p Also, you can publish generated pages to S3. (GitHub Pages, FTP, Dropbox will be supported soon!)
        .col-sm-4
          %div{class: "#{page_slug}-features__item"}
            %h2{class: "#{page_slug}-features__title"} Admin Panels
            %div{class: "#{page_slug}-features__body"}
              %p
                Are you tired with some command line static web site generators?
                %br
                With them, you must type many commands in your black terminal window.
              %p <a href="https://retype.jp/">ReType</a> is shipped with brilliant admin panels. You can manage your whole web site only using a web browser.
        .col-sm-4
          %div{class: "#{page_slug}-features__item"}
            %h2{class: "#{page_slug}-features__title"} Flexible
            %div{class: "#{page_slug}-features__body"}
              %p You can make your themes as you like.
              %p Looking for "Custom fields"??
              %p <a href="https://retype.jp/">ReType</a> does not have "Custom fields", but you can define custom fields all you want using JSON format.

%hr.half-rule

-# usage
%div{class: "#{page_slug}-usage"}
  .container
    %div{class: "#{page_slug}-usage__items"}
      %div{class: "#{page_slug}-usage__item"}
        .row
          .col-sm-4
            %h2{class: "#{page_slug}-usage__title"} Register
          .col-sm-8
            %div{class: "#{page_slug}-usage__body"}
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      %div{class: "#{page_slug}-usage__item"}
        .row
          .col-sm-4
            %h2{class: "#{page_slug}-usage__title"} Create
          .col-sm-8
            %div{class: "#{page_slug}-usage__body"}
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      %div{class: "#{page_slug}-usage__item"}
        .row
          .col-sm-4
            %h2{class: "#{page_slug}-usage__title"} Deploy
          .col-sm-8
            %div{class: "#{page_slug}-usage__body"}
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
