%header.header
  .navbar
    .container
      .navbar-header
        %button.navbar-toggle{:type => "button", :data => {:toggle => "collapse", :target => ".navbar-collapse"} }
          %span.sr-only Toggle navigation
          %i.fa.fa-bars
        = link_to 'RT', root_path, :class => "navbar-brand header__logo"
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right.header-account-nav
          - if current_user
            %li
              = link_to edit_user_registration_path do
                %i.fa.fa-user
                = current_user.email
            %li
              = link_to destroy_user_session_path, method: :delete, data: {confirm: 'Are you sure?'}, class: 'navbar-link header-account-nav__link' do
                = t(:logout)
          - else
            %li
              = link_to new_user_session_path, class: 'navbar-link header-account-nav__link' do
                = t(:login)
