%header.header
  .navbar
    .container
      .navbar-header
        %button.navbar-toggle{:type => "button", :data => {:toggle => "collapse", :target => ".navbar-collapse"} }
          %span.sr-only Toggle navigation
          %i.fa.fa-bars
        = link_to 'ReType', root_path, :class => "navbar-brand"
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li{class: "#{'active' if params[:controller] == 'statics'}"}
            = link_to 'Home', root_path
          %li{class: "#{'active' if params[:controller] == 'sites'}"}
            = link_to 'Sites', sites_path
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li
              = link_to edit_user_password_path do
                %i.fa.fa-user
                = current_user.email
            %li
              = link_to destroy_user_session_path, method: :delete, data: {confirm: 'Are you sure?'}, class: 'navbar-link' do
                %i.fa.fa-sign-out
                = t(:logout)
          - else
            %li
              = link_to new_user_session_path, class: 'navbar-link' do
                %i.fa.fa-sign-in
                = t(:login)
