- content_for :page_title do
  Listing sites

.common-first-actions
  %ul.common-first-actions__items.is-inline-blocks
    %li.common-first-actions__item
      = link_to new_site_path, :class => 'btn btn-primary' do
        %i.fa.fa-plus
        New Site
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th.is-vertical-center Name
        %th.is-vertical-center Theme
        %th.is-vertical-center S3 access key
        %th.is-vertical-center.is-vertical-center S3 secret key
        %th.is-vertical-center Pages
        %th.is-vertical-center Actions

    %tbody
      - @sites.each do |site|
        %tr
          %td.is-vertical-center
            = link_to site.name, site
          %td.is-vertical-center= site.theme
          %td.is-vertical-center= site.s3_access_key
          %td.is-vertical-center= site.s3_secret_key
          %td.is-vertical-center= link_to 'Pages', site_pages_path(site)
          %td.is-vertical-center.table-actions
            %ul.table-actions__items.is-inline-blocks
              %li.table-actions__item
                = link_to deploy_site_path(site), :data => { confirm: 'Are you sure?' }, :method => :post, class: "btn btn-primary btn-sm table-actions__button" do
                  %i.fa.fa-cloud-upload.fa-lg
              %li.table-actions__item
                = link_to edit_site_path(site), class: "btn btn-primary btn-sm table-actions__button" do
                  %i.fa.fa-edit.fa-lg
              %li.table-actions__item
                = link_to site, :data => { confirm: 'Are you sure?' }, :method => :delete, class: "btn btn-danger btn-xstable-actions__button" do
                  %i.fa.fa-trash-o.fa-lg
