!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title ReType
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}

    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js", "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"

    = stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

    - if browser.ie8?
      = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", media: "all"
      = javascript_include_tag "//html5shiv.googlecode.com/svn/trunk/html5.js"
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"
      = respond_include_tags
      = javascript_include_tag "oulu-ie8"

    - if browser.ie9?
      = javascript_include_tag "oulu-ie9"

  %body{class: "is-#{page_slug} #{browser}"}
    - if page_slug == 'statics_index'
      .container
      = yield
    - else
      = render 'header'
      = render 'page_eyecatch'
      .container
        = render 'flash'
        = yield
    #footer
